@import "variables";

.nav-panel {
  position: relative;

  &::before,
  &::after {
    content: "";
    position: absolute;
    top: 0;
    width: 24px;
    height: 40px;
    pointer-events: none;
    z-index: 1;
  }

  &::before {
    left: 0;
    background: linear-gradient(to right, rgba($mainBg, 1), rgba($mainBg, 0.0001));
  }

  &::after {
    right: 0;
    background: linear-gradient(to left, rgba($mainBg, 1), rgba($mainBg, 0.0001));
  }

  .navigation {
    overflow: auto;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-left: 16px;
    padding-bottom: 24px;
    flex-wrap: nowrap;

    @media (min-width: 768px) {
      padding-left: 24px;
      padding-bottom: 32px;
    }

    @media (min-width: 1440px) {
      gap: 0 16px;
      flex-wrap: wrap;
    }

    &::-webkit-scrollbar {
      display: none;
    }

    &__link {
      padding: 8px 9.38px 8px 16.67px;
      font-size: 16px;
      line-height: 24px;
      font-weight: lighter;
      letter-spacing: -0.2px;
      text-decoration: none;
      color: $textSecondary;
      white-space: nowrap;
      box-sizing: border-box;
      border: 2px solid transparent;

      &:hover {
        background-color: $bgPrimary;
        border: 2px solid $highlightColor;
        border-radius: 6px;
      }
    }
  }
}
