@import "variables";

.page-footer {
  padding-top: 16px;
  padding-bottom: 1px;
  font-size: 14px;
  text-align: center;
  line-height: 16px;
  color: $textSecondary;
  background-color: $mainBg;
  border-top: 1px solid $shadowColor;

  @media (min-width: 768px) {
    & {
      display: flex;
      justify-content: space-between;
      padding-right: 24px;
      padding-left: 24px;
    }

    .team {
      width: 218px;
      text-align: left;
    }

    .disclaimer {
      width: 215px;
      text-align: right;
    }
  }

  @media (min-width: 1440px) {
    & {
      padding-left: 360px;
    }
  }

  &__disclaimer {
    margin-top: 16px;
    margin-bottom: 19px;
  }
}


