@import "variables";

.swiper {
  overflow: visible;
  margin-bottom: 38px;

  &-container {
    overflow: hidden;
    justify-content: center;
  }

  &-wrapper {
    display: flex;

    .expanded & {
      flex-wrap: wrap;
      overflow: visible;
      height: auto;
    }

    @media (min-width: 768px) {
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(224px, 1fr));
      grid-row-gap: 16px;

      &.expanded {
        flex-wrap: wrap;
        overflow: visible;
        height: auto;
      }
    }

    @media (min-width: 1440px) {
      grid-template-columns: repeat(4, 1fr);
    }
  }

  &-slide {
    display: flex;
    justify-content: center;
    align-items: center;
    background: $bgPrimary;
    border-radius: 6px;
    border: 1px solid $separatorColor;
    box-sizing: border-box;
    height: 72px;
    width: 240px;
    padding-right: 16px;
    padding-left: 16px;
    margin-right: 16px;
    flex: 0 0 auto;

    @media (min-width: 768px) {
      width: 224px;

      &:nth-child(n+7) {
        display: none;
      }
    }

    @media (min-width: 1120px) {
      width: 240px;
    }
  }

  &-pagination {
    position: static;
    margin-top: 16px;
    text-align: center;
    z-index: 10;
    display: block;

    @media (min-width: 768px) {
      display: none;
    }

    &-bullet {
      background-color: $paginationBulletColor;
      opacity: 1;
      width: 12px;
      height: 12px;
      margin: 0;
      transition: background-color 0.3s ease;

      &.swiper-pagination-bullet-active {
        transform: scale(1);
        background-color: $paginationActiveColor;
      }
    }
  }
}
