$btnColor: #FF3E79;
$shadowColor: #D9FFF5;
$mainBg: #F8F8F8;
$highlightColor: #B8FFEC;
$separatorColor: #EAEAEA;
$textColor: #1B1C21;
$textSecondary: #7E7E82;
$bgPrimary: #FFFFFF;
$textInput: #000;
$paginationBulletColor: #DDDDDD;
$paginationActiveColor: #B5B6BC;
